<div>
  <h2>
    <a href="<%= article_path(article) %>"><%= article.title %></a>
  </h2>
  <p class="lead">
  by <a href="index.php">Randa</a>
  </p>
  <p><span class="glyphicon glyphicon-time"></span> Posted on <%= article.created_at %></p>
  <p><%= article.content %></p>
</div>
