<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <% @articles.each do |article| %>
        <%= render 'article', article: article %>
      <% end %>
      <ul class="pager">
        <li class="previous">
          <a href="#">← Older</a>
        </li>
        <li class="next">
          <a href="#">Newer →</a>
        </li>
      </ul>
    </div>
  </div>
</div>
